<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-signin" style="text-align: center !important">
            <img class="mb-4" src="pages/assets/img/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
            <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="userName">
            <!-- <label for="inputPassword" class="sr-only">Password</label> -->
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="password">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>